In [1]:
# 1.Add and print
a=12
b=5
print(a+b)

17

In [2]:
# 2.Multiply x and y then subtract y
x=10
y=3
z=x*y-y
print(z)

27

In [3]:
# 3.Check and print the datatype of x if it is true.
x=True
print(x)
type(x)

True

bool

In [5]:
# 4. Find remainder when one number is divided by another where one number is 17 and the other is 4.
x=17
y=4
z=17%4
print(z)

1

In [7]:
# Q5. Multiply 3 numbers, subtract last where 2, 3 and 4 are the numbers.
result=(2*3*4-4)
print(result)

20

In [ ]:
# Q6. Form a number from digits 5, 6, 9.

In [8]:
# Q7. Find the difference between two integers
a = 10
b = 25
print(b-a)

15

In [9]:
# Q8. Add 1 to a given number 99.
a=99
print(a+1)

100

In [10]:
# Q9. Square a number and Add 1. Where number is 4.
x=4
print(x*x+1)

17

In [11]:
# Q10. Multiply a number by 10 and Subtract 5. Where number is 6.
a=6
print(a*10-5)

55

In [12]:
# Q11. Add two float numbers 1.234 and 2.456.
a=1.234
b=2.456
print(a+b)

3.69

In [14]:
# Q12. Calculate the area of a circle with radius 2.5 and pi = 3.14.
r=2.5
a=3.14*r*r
print(a)

19.625

In [15]:
# Q13. Multiply a float 2.5 with large int 1000.
a=2.5
b=1000
print(a*b)

2500.0

In [16]:
# Q14. Add float 2.5 with an int 4. What is the output.
a=2.5
b=4
print(a+b)

6.5

In [20]:
# Q15. Calculate average value of three float values 2.5, 3.5 and 7.0.
a,b,c=2.5,3.5,7.0
avg=a+b+c/3
print(avg)

8.333333333333334

In [23]:
# Q16. Given two variables 5 and 8.0 check their datatypes.
a=5
print(type(a))
b=8.0
print(type(b))

<class 'int'>
<class 'float'>

In [24]:
# Q17. Multiply an Integer 4 with float 2.0.
a=4
b=2.0
print(a*b)

8.0

In [25]:
# Q18. Check Type before and after dividing it by 2. Where number is 5.
a=5
print(type(a))
b=5/2
print(b)
print(type(b))

<class 'int'>
2.5
<class 'float'>

In [26]:
# Q19. Check the boolean value of x. Where x is 20.
x=20
print(bool(x))

True

In [27]:
# Q20. Check the boolean value of x. Where x is 0.
x=0
print(bool(x))

False