In [2]:
# Q1. Given the list numbers = [10, 20, 30, 40, 50], print the second and fourth elements of the list?
l1=[10,20,30,40,50]
print(l1[1])
print(l1[3])

20
40

In [3]:
# Q2. Given the list of numbers = [1,2,3,4,10,9,8,4], print the last three numbers using slicing?
l2=[1,2,3,4,10,9,8,4]
l2[5:8]

[9, 8, 4]

In [4]:
# Q3. Create a list of numbers and print both the maximum and minimum values in the list using the max() and min() functions?
l3=[1,2,3,4,10,9,8,4]
print(max(l3))
print(min(l3))

10
1

In [6]:
# Q4. Create a list of letters, sort them and print the list in reverse order?
l4=['s','a','k','s','h','i']
l4.sort(reverse=True)
print(l4)

['s', 's', 'k', 'i', 'h', 'a']

In [10]:
# Q5. Create a list of strings and count how many times a specific string appears using count()?
l5=['s','a','k','s','h','i']
l5.count('s')

2

In [ ]:
# Q6. Create a list of colours. Swap first and last elements and print the updated list?
l6=["red","orange","yellow","green","blue"]
l6[0],l6[-1] = l6[-1], l6[0]
l6

# or
a=["red","orange","yellow","green","blue"]
b=a.copy()
b[-1]=a[0]
b[0]=a[-1]
b

['blue', 'orange', 'yellow', 'green', 'red']

In [15]:
# Q7. Write a code to get "hello" from this list:
l7 = [25, 30, [26, 27, 28, "hello"], [32, 38]]
l7[2][3]

'hello'

In [17]:
# Q8. Replace 27 with 43 in the above list?
l8 = [25, 30, [26, 27, 28, "hello"], [32, 38]]
l8[2][1]=43
l8

[25, 30, [26, 43, 28, 'hello'], [32, 38]]

In [22]:
# Q9. Insert a value "True" at the second and first position from the end?
# second position from last
l9 = [25, 30, [26, 27, 28, "hello"], [32, 38]]
l9.insert(-1,True)
print(l9)

# first position from last
a = [25, 30, [26, 27, 28, "hello"], [32, 38]]
a.insert(len(a),True)
print(a)

[25, 30, [26, 27, 28, 'hello'], True, [32, 38]]
[25, 30, [26, 27, 28, 'hello'], [32, 38], True]

In [29]:
# Q10. Write a Python program to merge two sorted lists into a single sorted list?
a=[1,3,4,2,7,9,4]
a.sort()
b=[3,4,1,5,8,3,7]
b.sort()
c=a+b
print(c)

[1, 2, 3, 4, 4, 7, 9, 1, 3, 3, 4, 5, 7, 8]

In [31]:
# Q11. Create an empty list and let user append favorite fruits using append()?
l=[]
n=input('enter fruits:')
l.append(n)
print(l)

['apple']

In [33]:
# Q12. Add three more fruits at once to the list?
l=[]
n=input('enter fruits:')
l.append(n)
l.extend(['mango','grapes','banana'])
print(l)

['apple', 'mango', 'grapes', 'banana']

In [34]:
# Q13. Sort the above list using sort() method?
l13 = ['apple', 'mango', 'grapes', 'banana']
l13.sort()
l13

['apple', 'banana', 'grapes', 'mango']

In [35]:
# Q14. Create even and odd lists, merge them using extend() and print result?
a=[2,4,6,8]
b=[1,3,5,7]
a.extend(b)
print(a)

[2, 4, 6, 8, 1, 3, 5, 7]

In [38]:
# Q15. Given list, find the sum and average?
l15 = [4, 5, 1, 2, 9, 7, 10, 8]
total= sum(l15)
print(total)

avg= total/len(l15)
print(avg)

46
5.75

In [ ]:
# Q16. Sort this list of tuples by the last element:
l16 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [ ]:
# Q17. Write a Python program to find the difference between two lists?

In [39]:
# Q18. Write a Python program to clone or copy a list?
l18 = [1,2,3,4,5]
a=l18.copy()
print(a)

[1, 2, 3, 4, 5]

In [44]:
# Q19. Write a program to remove the 0th, 4th, and 5th elements and print the updated list?
l19 = [4, 5, 1, 2, 9, 7, 10, 8]
l19.pop(0)
l19.pop(4)
l19.pop(5)
l19

[5, 1, 2, 9, 10]

In [47]:
# Q20. Write a Python program to append a list to the second list?
l20=[1,2,3,4,5]
l20.append([6,7,8])
l20

[1, 2, 3, 4, 5, [6, 7, 8]]

In [49]:
# Q21. Write a program that counts how many times a specific element appears in a list?
l21=[1, 2, 3, 4, 4, 7, 9, 1, 3, 3, 4, 5, 7, 8]
l21.count(7)

2

In [54]:
# Q22. Write a Python program to find the second smallest number in a list?
l22=[5, 1, 2, 2, 9, 10]
l22.sort()
l22[-2]

9

In [ ]:
# Q23. Write a Python program to get unique (non duplicate) values from a list?
l23=[1, 2, 3, 4, 4, 7, 9, 1, 3, 3, 4, 5, 7, 8]
unique=list(set(l23))
print(unique)

[1, 2, 3, 4, 5, 7, 8, 9]

In [56]:
# Q24. Write a program that reverses the elements of a list?
l24=[5, 1, 2, 2, 9, 10]
l24.reverse()
l24

[10, 9, 2, 2, 1, 5]

In [ ]:
# Q25. Write a program that creates a list of the squares of all numbers in a given list?
l25=[5, 1, 2, 2, 9, 10]

In [ ]:
# Q26. Filter elements that start with "a" from the given list using list comprehension?
fruits = ['apple', 'banana', 'avocado', 'cherry']

## TEST

In [9]:
# Add 20 for each value in the list.

l=[1,2,3,4]
n=[]
for i in l:
    n.append(i+20)
print(n)

[21, 22, 23, 24]

In [15]:
# add 5,6,7 into the list using loop

l=[1,2,3,4]
for i in range(5,8):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [16]:
# remove 3,4,6 from the list

l=[1,2,3,4,5,6]
n=[]
for i in l:
    if i not in [3,4,6]:
        n.append(i)
print(n)

[1, 2, 5]

In [ ]:
# extract

l=[10,21,41,60,79]
print(l[2])
print(l[0:3])

41
[10, 21, 41]

In [24]:
# extract even number

l=[10,21,41,60,79]
n=[]
for i in l:
    if i%2==0:
        n.append(i)
print(n)

[10, 60]

In [23]:
# extract value > 40

l=[10,21,41,60,79]
n=[]
for i in l:
    if i>40:
        n.append(i)
print(n)

[41, 60, 79]

In [25]:
l=[10,21,41,60,79]
n=[]
for i in [10,21,60]:
    n.append(i)
print(n)

[10, 21, 60]

In [31]:
# add both lists value wise

l1=[10,11,12]
l2=[20,41,32]
n=[]
for i in [0,1,2]:
    n.append(l1[i]+l2[i])
print(n)

[30, 52, 44]