In [ ]:
# Q1. Print the third element from a tuple.
t1=(1,"sam",10.4,True)
t1[3]

True

In [2]:
# Q2. Print the last three elements of the tuple.
t2=(1,"sam",10.4,True,[1,2,3])
t2[2:5]

(10.4, True, [1, 2, 3])

In [3]:
# Q3. Join two tuples together.
t3=(1,2)
t4=(3,4)
t3+t4

(1, 2, 3, 4)

In [4]:
# Q4. Repeat a tuple three times.
t5=(1,2,3)
print(t5*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [5]:
# Q5. Check if 15 is present in the tuple.
t6=(2,55,10,19,15)
t6.count(15)

1

In [6]:
# Q6. Find how many elements are in the tuple.
t7=(1,"sam",10.4,True,[1,2,3])
len(t7)

5

In [7]:
# Q7. Find the index of 50 in the tuple.
t8=(2,50,10,19,15)
t8.index(50)

1

In [8]:
# Q8. Count how many times 2 appears.
t9=(2,50,10,2,19,15,2)
t9.count(2)

3

In [29]:
# Q9. Swap first and last elements of a tuple.
t1=(2,50,10,19,15)
# t2 = t1[-1] + t1[1:-1] + t1[0]  will not work int tuple int concatination is not possible so in order to concate we need to make int as tuple.
t2=(t1[-1],)+t1[1:-1]+(t1[0],)
print(t2)

(15, 50, 10, 19, 2)

In [ ]:
# Q10.Reverse all elements.
t=(2,50,10,19,15)
t[-1:-6:-1]

(15, 19, 10, 50, 2)

In [28]:
# Q11. Find the maximum value without converting to a list.
t=(2,50,10,19,15)
max(t)

50

In [ ]:
# Q12. Find the minimum value without converting to a list.
t=(2,50,10,19,15)
min(t)

2

In [ ]:
# Q13. Create a tuple with one element.
t=(1,)
print(t)
type(t)

(1,)

tuple

In [ ]:
# Q14. Assign each element of a tuple to different variables. 
t = (100, 200, 300)
a=t[0]
b=t[1]
c=t[2]
print(a,b,c)

100 200 300

In [31]:
# Q15. Get every second element from the tuple.
t=(10, 20, 30, 40, 50, 60)
t[1:7:2]

(20, 40, 60)

In [34]:
# Q16. Find Maximum and Minimum Element
t=(4, 6, 2, 9, 1)
print(max(t))
print(min(t))

9
1

In [36]:
# Q17. Replace First Element by 99 creating new tuple.
t = (9,8,7)
new= (99,)+t[1:]
print(new)

(99, 8, 7)

In [37]:
# Q18. Join Two Tuples a & b with a Value x in Between. a = 1,2 · b = 4,5 · x=9
t = (1,2,) + (99,) + (4,5,)
print(t)

(1, 2, 99, 4, 5)

In [38]:
# Q19. Find the index of 15.
t = (5,10,15,20)
t.index(15)

2

In [39]:
# Q20. Count how many times 2 appears.
t = (1, 3, 5, 7)
t.count(2)

0

In [40]:
# Q21. Find index of 11 
t = (1,3,5,7,9,11,13,15)
t.index(11)

5

In [41]:
# Q22. Access the number 4,
t = ((1,2),(3,4))
t[1][1]

4

In [42]:
# Q23. To a tuple of list add 99. 
input = (10,20,30,60)
new= input + (99,)
print(new)

(10, 20, 30, 60, 99)

In [53]:
# Q24. Access Char "c" from Nested Tuple of Strings
t = ("dog", "cat")
char = t[1][0]
print(char)

c

In [54]:
# Q25. From (10, 20, 30, 40, 50), get (20, 30, 40).
t=(10,20,30,40,50)
t[1:4]

(20, 30, 40)

In [55]:
# Q26. Access Last Value 9 from the Nested Tuple 
t = ((5,6),(7,8,9))
t[1][-1]

9

In [57]:
# Q27. Sort elements from the tuple 
t=(3,5,8,2,7,1,6,4)
tuple(sorted(t))

(1, 2, 3, 4, 5, 6, 7, 8)

In [58]:
# Q28. Reverse a tuple 
t=(10,20,60,30,90)
t[-1::-1]

(90, 30, 60, 20, 10)

In [63]:
# Q29. Extract first 3 numbers from the tuple 
t=(1,2,4,4,5,6,7)
t[0:3]

(1, 2, 4)

In [64]:
# Q30. Get the third element from the tuple
t=(10,20,30,60,40,70)
t[2]

30