In [2]:
# Q1. Create an empty set and add multiple values to it?
s1=set()
s1.update([1,2,3,4])
print(s1)

{1, 2, 3, 4}

In [7]:
# Q2. Write a Python program to delete value 3 from the set {1,2,3,4,5}?

s={1,2,3,4,5}
s.remove(3)
print(s)

{1, 2, 4, 5}

In [5]:
# Q3. Write a Python program to check the union of two sets: {1,2,3,4,5} and {4,5,6,7,8}?

a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
# Q3. Write a Python program to check the union of two sets: {1,2,3,4,5} and {4,5,6,7,8}?
a={1,2,3,4,5}
b={4,5,6,7,8}
c=a.symmetric_difference(b)
print(c)

{1, 2, 3, 6, 7, 8}

In [9]:
# Q5. Write a Python program to remove the number 7 from the set {1, 2, 3, 4, 5}, without causing an error if 7 is not present?

s={1,2,3,4,5}
s.discard(7)
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# Q6. Write a Python program to check if the set {1, 2} is a superset of the set {1, 2, 3, 4}?

a={1,2}
b={1,2,3,4}
a.issuperset(b)

False

In [13]:
# Q7. Write a Python program to find the difference between two sets: {1, 2, 3, 4} and {3, 4, 5, 6}?
a={1,2,3,4}
b={3,4,5,6}
print(a.difference(b))
print(b.difference(a))

{1, 2}
{5, 6}

In [14]:
# Q8. Write a Python program to find the intersection of two sets: {1, 2, 3} and {3, 4, 5}?

a={1,2,3}
b={3,4,5}
a.intersection(b)

{3}

In [15]:
# Q9. Write a Python program to find the length of the set {1, 2, 3, 4, 5,1,2,5,4,6,7,8}?
s={1, 2, 3, 4, 5,1,2,5,4,6,7,8}
len(s)

8

In [ ]:
# Q10. Write a Python program to convert a list to a set?
set(list([1,2,3]))

{1, 2, 3}

In [18]:
# Q11. Write a Python program to find the maximum and minimum values from the set {5, 2, 8, 1, 4}?
s={5, 2, 8, 1, 4}
print(max(s))
print(min(s))

8
1

In [19]:
# Q12. Write a Python program to find the common elements between two sets {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}?

a={1,2,3,4,5}
b={4,5,6,7,8}
a.intersection(b)

{4, 5}

In [20]:
# Q13. Write a Python program to find the unique elements in the union of two sets: {1, 2, 3} and {3, 4, 5}?

a={1,2,3}
b={3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [21]:
# Q14. Write a Python program to find the union of three sets: {1, 2}, {2, 3}, and {3, 4}?

a={1,2}
b={2,4}
c={3,4}
a.union(b).union(c)

{1, 2, 3, 4}

In [22]:
# Q15. Write a Python program to remove duplicates from the list [1, 2, 2, 3, 4, 4, 5, 5] by converting it to a set?
set(list([1, 2, 2, 3, 4, 4, 5, 5]))

{1, 2, 3, 4, 5}

In [28]:
# Q16. Write a Python program to count the number of elements in the set {1, 2, 3, 4, 5}?

s={1,2,3,4,5}
len(s)

5

In [ ]:
# Q17. Write a function that takes a string as input and returns the number of distinct characters in it using a set?

In [ ]:
# Q18. Python program to find common elements in three lists using set?

l1 = set([1, 5, 10, 20, 40, 80])
l2 = set([6, 7, 20, 80, 100])
l3 = set([3, 4, 15, 20, 30, 70, 80, 120])

l1.intersection(l2,l3)

{20, 80}

In [35]:
# Q19. Write a Python program to check if two lists are disjoint?

a={1,2,3,4,5}
b={6,7}
a.isdisjoint(b)

True

In [39]:
# Q20. Write a Python program to find elements in one list that are not present in another list?
a=[1,2,3,4]
b=[4,5]
set(a).difference(set(b))

{1, 2, 3}

In [43]:
# Q21. Write a Python program to find the longest word and smallest word in a set of words?

words = {"apple", "banana", "cherry", "date"}

In [45]:
# Q22. Write a Python program to remove a specific element 3 from a set {1, 2, 3, 4}?
s={1,2,3,4}
s.remove(3)
print(s)

{1, 2, 4}

In [50]:
# Q23. Write a Python program to count how many unique elements are in a given list?

l = [1, 2, 2, 3, 4, 4, 5]
b=len(set(l))
print('no of unique numbera are:', b)

no of unique numbera are: 5

In [52]:
# Q24. Write a Python program to find all the elements in a set that are also present in a list?

s = {1, 2, 3, 4, 5}
l = [3, 4, 6]
s.intersection(set(l))

{3, 4}

In [54]:
# Q25. Python program to convert Set into Tuple and Tuple into Set?

s = tuple({'a', 'b', 'c', 'd', 'e'})
t = set(('a', 'c', 'b', 'e', 'd'))
print(s)
print(t)

('d', 'a', 'b', 'e', 'c')
{'a', 'c', 'd', 'e', 'b'}

In [ ]:
# Q26. Write a program that finds all the missing numbers from a list within a given range 1 to 9?

l = set([1, 2, 4, 6, 7, 9])
l1= set((range(1,10)))
l1.difference(l)

{3, 5, 8}

In [ ]:
# Q27. Write a program that generates a set of unique random numbers?

In [57]:
# Q28. Write a Python program to remove all elements from the given set {10, 20, 30, 40, 50}?
s={10,20,30,40,50}
s.clear()
print(s)

set()

In [58]:
#Q29. How do you create an immutable set in Python?
set()

set()

In [ ]:
# Q30. Write a Python program to remove the intersection of a second set with first set?